.flow-ui-attachmentListWidget {
	margin: 0.5em 0 0.25em;
	padding: 0.5em 0.75em;
	border: 1px solid #eaecf0;
	border-radius: 2px;
	background-color: #f8f9fa;

	&-heading {
		font-weight: bold;
		font-size: 0.875em;
		color: #54595d;
	}

	&-list {
		margin: 0.25em 0 0;
		font-size: 0.875em;

		ul {
			margin: 0;
			list-style: none;
		}

		li {
			margin: 0.125em 0;
		}
	}

	&-size {
		color: #72777d;
	}

	&-empty {
		color: #72777d;
		font-style: italic;
	}
}
